body {
	background: linear-gradient(-45deg,#66ffcc,#ffffff);
	

}
.container {
	max-width: 1020px;
	margin: 0 auto;
}
.header {
	max-width: 1020px;
	margin: 40px auto;
	
}
.header__name {
	text-align: center;
	font-size: 40px;
}
.header__admin {}
.header__form {
	width: 400px;
	margin-left: 100%;
	transform: translate(-100%);

}
.input {
	background-color: transparent;
	border: solid 1px gray;
	border-radius: 20px;
	font-size: 14px;
}

.input:hover {
	background-color: gray;
}

.main {
	margin: 0 auto;
}
.text {
	font-size: 20px;
}

.main__forms {
	max-width: 500px;
	background-color: #f7f7f7;
	border: 1px solid #7d7d7d;
	margin: 0 auto;
	max-height: 100%;
	justify-content: center;
	border-radius: 20px;
	padding: 20px 20px;
}
.main__form {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-row-gap: 10px;
	
}
.main__text {
	min-width: 150px;
	
}
.main__input {
	min-width: 150px;
	border-radius: 5px;
}
.main__input[type=text] {
	padding-left: 10px;
}

.main__submit {
	grid-column-start: 1;
	grid-column-end: 3;
}
.result {
	background-color: #f7f7f7;
	border: 1px solid #7d7d7d;
	display: grid;
	max-width: 800px;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 20px;
	grid-row-gap: 10px;
	padding: 20px 20px;

}
.result__text {}
.result__result {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}
.result__form {
	text-align: right;
	grid-column-start: 1;
	grid-column-end: 3;
}
.changes {
	margin-top: 100px;
	align-items: center;
}
.changes__changes{
	max-width: 300px;
	margin: 0 auto;
}
.changes__form {
}
.changes__text {}
.changes__submit {}

.header__incorrect{
	color: red;
	width: 400px;
	margin-left: 100%;
	transform: translate(-100%);
}

.login__form {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-row-gap: 10px;
	
}